.content {
  padding: 0 3rem;
}

.navbar-container h1 {
  font-size: 1.75rem;
  font-weight: 800;
}

.navbar-container {
  top: 0;
  left: 0;
  /* position: absolute; */
  width: 1000px;
  padding: 1rem;
  display: flex;
  color: #ffffff;
  background: #0288d1;
  box-shadow: 0 4px 3px rgba(1, 87, 155, 0.5);
  align-items: center;
}
